
    @media screen and (max-width: 600px) {
    .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    }
    }
    .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 50px;
        column-gap: 150px;
        row-gap: 250px;

      }
      .grid-item {
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }